<?xml version="1.0" encoding="UTF-8"?>
<manifest
	package="com.otdshco.backup"
	android:versionCode="1992"
	android:versionName="1.9.9.2"
	xmlns:android="http://schemas.android.com/apk/res/android"
>
	<uses-sdk
		android:minSdkVersion="8" />
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission
		android:name="android.permission.WRITE_SETTINGS" />
	<application
		android:icon="@drawable/icon"
		android:label="@string/app_backup_name"
	>
		<activity
			android:label="@string/app_backup_name"
			android:name="PrestoBackup" />
		<activity
			android:name="com.otdshco.backup.Backup"
		>
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.otdshco.backup.BackupSettings" />
	</application>
</manifest>
